<div class="bbm-modal__topbar">
    <button class="button medium simple js-back">
        <span class="val-icon-arrow-left"></span>
        {{language.backToLPLabel}}
    </button>
    <div class="modal-close val-icon-exit"></div>
</div>

<div id="viewToolbar"></div>
<div id="viewContent" class="val-table-wrapper"></div>

<div class="loading-container js-loading-container hidden"></div>
<label class="valamis-info-label shifted hidden js-info-label">{{language.emptyListLabel}}</label>

<div id="viewPaginatorMore" class="text-center"></div>

<div class="bbm-modal__bottombar">
    <button class="button medium primary js-add-goals">
        {{language.saveLabel}}
    </button>
    <button class="button medium simple js-back">
        {{language.cancelLabel}}
    </button>
</div>