export const defConfig = {
    entry: 'main.js',
    externals: {
        'jquery': 'jQuery',
        'lodash': '_',
        'underscore': '_',
        'backbone': 'Backbone',
        'backbone.radio': 'Backbone.Radio',
        'backbone.marionette': 'Marionette',
        'moment': 'moment',
        'humanize-duration': 'humanizeDuration',
        'toastr': 'toastr',
        'jquery-ui': 'jquery-ui',
        'nestedSortable': 'nestedSortable',
        'backbone.service': 'Backbone.Service',
        'backbone.modal': 'Backbone.Modal',
        'backbone.marionette.modal': 'Marionette.Modal',
        'valamis-jq-plugins': 'valamis-jq-plugins',
        'jquery.fileupload': 'jquery.fileupload',
        'element-query': 'element-query',
        'settingsHelper': 'settingsHelper'
    }
};

export const amdConfig = {
    entry: 'main-lr7.js',
    output: {
        'libraryTarget': 'amd'
    },
    externals: {
        'jquery': true,
        'lodash': true,
        'underscore': true,
        'backbone': true,
        'backbone.radio': true,
        'backbone.marionette': true,
        'moment': true,
        'humanize-duration': true,
        'toastr': true,
        'jquery-ui': true,
        'nestedSortable': true,
        'backbone.service': true,
        'backbone.modal': true,
        'backbone.marionette.modal': true,
        'valamis-jq-plugins': true,
        'jquery.fileupload': true,
        'element-query': true,
        'settingsHelper': true
    }
};